html{
    background-color: #eeeeee;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-right: 200px;
    margin-left: 200px;

}

p{
    margin-bottom: 15px;
}

.pull{
    margin-right: 50px;
    margin-left: 50px; 
}

h1{
    color: #3d405b;
    text-align: center;
    margin-bottom: 75px;
    margin-top: 75px;
}

h2{
    color: #3d405b;
    margin-top: 50px;
}


